@layout('emails/layouts/master')
@section('content')

※このメールはシステムからの自動送信です

お疲れ様です。以下内容にてポイント付与がありました。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

■ポイント数
{{ amount }} ポイント

■対象ユーザー
{{ linename }}

■付与店舗
{{ shopName }}

■付与日時
{{ updated_at }}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

よろしくお願いします。


@endsection
