@layout('emails/layouts/master')
@section('content')

<p>※このメールはシステムからの自動送信です</p>

<p>{{ email }}様</p>

<p>パスワードリセットのリクエストを受け付けました。<br>心当たりのない方は<a href="mailto:tech@cicac.jp">返信</a>で教えていただけると幸いです。</p>

<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
■パスワードリセットURL<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>
<p>以下のURLにてパスワードを再設定することができます。</p>

{{ ENVIRONMENT.baseURL }}/reset-password?secret={{ updateData.activatekey }}

<p>有効期限は24時間となります。有効期限内でのパスワード再設定をお願いいたします。</p>

@endsection
