@layout('emails/layouts/master')
@section('content')

※このメールはシステムからの自動送信です

{{ email }}様

パスワードリセットのリクエストを受け付けました。心当たりのない方は返信で教えていただけると幸いです。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
■パスワードリセットURL
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
以下のURLにてパスワードを再設定することができます。

{{ ENVIRONMENT.baseURL }}/reset-password?secret={{ updateData.activatekey }}

有効期限は24時間となります。有効期限内でのパスワード再設定をお願いいたします。

@endsection
