@layout('emails/layouts/master')
@section('content')

<p>※このメールはシステムからの自動送信です</p>

<p>お疲れ様です。以下内容にて新たにお問い合わせがありました。</p>

<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
■お名前<br>
{{ name }} 様<br>
■メールアドレス<br>
{{ email }}<br>
<br>
■内容<br>
{{ content }}<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>

<p>ご確認よろしくお願いします。</p>

@endsection
