@layout('emails/layouts/master')
@section('content')

※このメールはシステムからの自動送信です

お疲れ様です。以下内容にて新たにお問い合わせがありました。

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
■お名前
{{ name }} 様
■メールアドレス
{{ email }}

■内容
{{ content }}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

ご確認よろしくお願いします。

@endsection
