@layout('emails/layouts/master')
@section('content')

<p>※このメールはシステムからの自動送信です</p>

<p>お疲れ様です。以下予約がキャンセルされました。</p>

<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━<br>
■プラン名<br>
{{ plan.name }}<br>
■時間<br>
{{ plan.startTime }}〜{{ plan.endTime }}<br>様
<br>
■ご予約者氏名<br>
{{ reservation.linename }}<br>
■電話番号<br>
{{ reservation.tel }}<br>
■人数（大人）<br>
{{ reservation.num_adult }}人<br>
■人数（子供）<br>
{{ reservation.num_kids }}人<br>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>

<p>ご確認よろしくお願いします。</p>

@endsection
