@layout('emails/layouts/master')
@section('content')

<p>AKAGI&VENTURE PROJECTをご利用いただきましてありがとうございます。<br>
登録パスワードの変更が完了しましたのでご連絡いたします。</p>

<p>下記ログイン画面より新パスワードにてログインをお願いします。</p>

<p>■□■ ログイン画面 ■□■<br>
<a href="{{ ENVIRONMENT.baseURL }}/login/">{{ ENVIRONMENT.baseURL }}/login/</a></p>

<p>【ご注意】<br>
◆パスワードの管理には十分にご注意くださいますようお願いいたします。</p>

@endsection
