@layout('emails/layouts/master')
@section('content')

AKAGI&VENTURE PROJECTをご利用いただきましてありがとうございます。
登録パスワードの変更が完了しましたのでご連絡いたします。

下記ログイン画面より新パスワードにてログインをお願いします。

■□■ ログイン画面 ■□■
{{ ENVIRONMENT.baseURL }}/login/

【ご注意】
◆パスワードの管理には十分にご注意くださいますようお願いいたします。

@endsection
