テストメールです。<br>{{ ENVIRONMENT.name }}環境から送信しています。
@!section('content')

また、不明な点などがありましたら下記メールアドレスへご連絡ください。
service@akagi-venture.jp

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
株式会社エーアンドブイ企画
メール：service@akagi-venture.jp
ウェブ：https://akagi-venture.jp
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
